
.auth-container {
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.auth {
	width: 30rem;
	padding: 40px;
	background-color: #e1e4cd;
	border: 1px solid #737757;
}
.error_message {
	color: #dc3545;
}